 body {
    background-image: url(/aula03/ada-logo.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
 }
 .logpad {
    max-width: 350px;
    height: 650px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    text-align: center;
    border-radius: 25px 25px;
 }
 .logpad span:first-child {
    font-family: Andale Mono, monospace;
    color: #fff0ff;
    font-size: 30px;
 }
.logpad span:last-child {
    font-family: Andale Mono, monospace;
    color: 1ceeb6;
    font-size: 35px;
}
.logpad input {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #fffdfc;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    font-family: "Century Gothic";
    font-size: 18px;
    margin-bottom: 20px;
    transition: .5s;
}
.logbox {
    color: #ffffff;
    margin: 15px;
    font-family: "Century Gothic";
    text-align: left;
    font-weight: 1em;
    padding: 7px;
}
.logpad button {
    color: #a7f94d;
    background-color: #fff0ff;
    font-size: 21px;
    font-family: Lithos Pro;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
    transition: .3s;
    border-radius: 3px 20px;
}
.logpad button:hover {
    background-color: rgb(27, 91, 77);
}
.logpad input:focus {
    background: none;
    border-bottom: 2px solid rgb(27, 91, 77);
}
.social-login {
    position: fixed;
    height: 100px;
    width: 160px;
    text-align: center;
    bottom: 0;
    right: 0;
    color: #fff;
}
.social-login h3{
    font-family: Andale Mono, monospace;
    padding-top: 6px;
}
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 19px 12px;
    padding-top: 8px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    text-shadow: 0px 0px 8px #fff;
}
.social-login__icon:hover {
    transform: scale(1.5);
}
    @media(max-width: 720px){
        .logpad{
            max-width: 240px;
        }
        body{
            background-size: 300% 200%;
            background-position: center;
        }
    }


fieldset  {
    margin-bottom: 15px;
    margin-left: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margem {
    margin: 0;
    padding: 10px;
}

#rec-senha {
    height: 100px;
    width: 150px;
    text-align: left;
    
}

#rec-senha h3 {
    font-family: Andale Mono, monospace;
    
}

#rec-senha a {
    display: flex;

    align-items: left;
    justify-content: left;
    text-decoration: none;
    color: azure;
}
 #rec-senha a:hover {
    color: #a7f94d;
 }