main{
     width: 500px;
     bottom: 1px solid black;
}

@media (max-width: 600px) and (orientation: landscape) {
    main {
        width: 88px;
        height: 80px;
        background-color: purple;
        color: aliceblue;
        justify-content: center;
        align-items: center;
        
    }
}