.Manchete {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 1px solid orange;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    background-color: #4f0080;
    font-family: sans-serif;
    color: antiquewhite;
}

.Manchete__titulo{
    color: orange;
    font-size: 25px;
}

.Manchete__descricao {
    padding-left: 8px;
}

.Manchete__sub {
    font-size: 15px;
}

.Manchete__img {
    width: 150px;
    object-fit: fill;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}