.Manchete {
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: 1px solid orange;
    border-radius: 8px;
    width: 350px;
    height: 150px;
    background-color: #4f0080;
    font-family: sans-serif;
    color: antiquewhite;
    margin: 15px;

    &__titulo{
        color: orange;
        font-size: 15px;
    }
    
    &__descricao {
        padding-left: 8px;
    }
    
    &__sub {
        font-size: 15px;
    }
    
    &__img {
        width: 150px;
        object-fit: fill;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

